doctype html
html
  head
    title= title
    link(rel='SHORTCUT ICON' href='/images/Dollar.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type="text/javascript" src="/javascripts/jquery-3.3.1.js")
  body
    block content
